@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html{
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
/* navbar */
nav ul a {
    color: #fff;
}

nav .brand-logo.left {
    color: #fff;
}

.btn, .btn-large, .btn-small {
    background-color: chocolate;
    margin-bottom: 40px;

}

.in-icon {
    margin-right: 5px;
}

a {
    color: #ffffff;
    margin-left: 0.5rem;
}
/* background img */
.bg {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -10;
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }
    
.card .card-content {
    background:rgba(255, 250, 250, 0.3);

    margin-top: 35px;
    border-radius: 10px;
}
/* mobile navbar */
.sidenav {
    background-color: #e6d2a7;
}
/* account html header text */
.account-head {
    text-align: center;
}
/* recipe card */
.card-category {
    font-size: large;
    color:#ffffff;
    background-color: brown;
    text-align: center;
}

.card-main {
    background-color: rgba(180, 136, 60, 0.8)
}

.card .card-title {
    font-size: 35px;
}

.small-text {
    text-align: center;
}

.btn-large {
    margin-top: 25px;
    margin-bottom: 5px;
}

.card-content-p {
    text-align: center;
    padding-top: 20px;
    color: #000000;
}

.row-card {
    width: 100%;
}

.ingred {
    color: #000000;
    font-size: larger;
    text-decoration: underline;
  
}

.card .card-content p {
    margin-bottom: 25px;
}

.col .row {
    margin-left: 10px
}

strong {
    font-size: 25px;
    text-decoration: underline;
}

.cookin-row {
    margin-top: 25px;
}
/*--card images--*/
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img {
    height: 350px;
    padding: 0;
}

/*--flash text--*/
.flash {
    color: #ffffff;
    font-size: 25px;

}

/*serch bar */
#search-bar {
    color: #ffffff;
    font-size: larger;
}

.search-bar-bg{
    background-color: rgba(0, 0, 0, 0.3);
}

form input {
    color: white;
}

/* cooking head text */
.cooking-head-txt {
    font-size: 5rem;
    font-family: 'Zen Kurenaido', sans-serif;
}