{% extends "base.html" %}
{% block content %}
          <!--background image-->
        <div class=" extended">
           <img src="{{ url_for('static', filename='images/bbq-bg13.jpg') }}" class="bg">
        </div>
        <div class="row account-head">
          <div class="col s12 m6 center-align offset-m3">
              <h4 class=" white-text center-align cooking-head-txt">BBQ cooking is Fun</h4>
        </div>
      </div>
        <div class="row center-align">
          <form action="{{ url_for('search') }}" method="POST" class="col s12 m6 offset-m3 search-bar-bg">
              <div class="input-field">
                  <input type="text" id="query" name="query" class="validate" required>
                  <label id="search-bar" for="query">Search Recipes</label>
              </div>
              <div class="padding-bottom">
                  <a href="{{ url_for('get_cooking') }}" class="waves-effect waves-light btn-small red darken-2 btn">Reset</a>
                  <button type="submit" class="waves-effect waves-light btn-small green darken-2">
                      <i class="fas fa-search left"></i> Search
                  </button>
              </div>
          </form>
      </div>
       
        <div class="row cookin-row">
                      {% for cook in cooking %}
                      
                      <div class="col s12 m6 l4 xl3">
                     
                  <div class="card">

                    <div class="card-image waves-effect waves-block waves-light card-img">
                      <img class="activator" src="{{ cook.img_url }}" >
                    </div>
                      <!--recipe title, and 3dots icon-->
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">{{ cook.recipe_title }} <i class="fas fa-ellipsis-v right"></i></span>
                    </div>
                    <!--close x icon-->
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"><i class="fas fa-times white-text right"></i></span>
                   <!--category name in recipe-->
                      <div class="row">
                        <div class="card-category">
                          <span class="card-title">{{ cook.category_name }}</span>
                        </div>
                      </div>
                        <!--recipe title in reveal card-->
                      <div class="row">
                        <p class="card-content-p"><strong> {{ cook.recipe_title }} </strong></p>
                      </div>
                      <!--ingredients section-->
                          <div class="row">
                            <ul> <p class="prefix ingred"> Ingredients:</p>
                                {% for ingredient in cook.ingredients %}
                              <li>{{ ingredient }} </li>
                                {% endfor %}
                                  Ingredients</p>
                            </ul>
                          </div>
                          <!--cooking time section-->
                          <div class="row">
                            <p class="prefix ingred">Cooking time: </p>{{ cook.cooking_time }}
                          </div>
                          <!--cooking tools-->
                          <div class="row">
                            <ul><p class="prefix ingred">Tools:</p>
                            {% for tool in cook.tools %}
                            <li>{{ tool }} </li>
                            {% endfor %}
                            </ul>
                          </div>
                         <!--recipe description-->
                          <div class="row">
                            <p class="prefix ingred">Description:</p> {{ cook.description }}
                          </div>
                          <!--recipe creator-->
                          <div class="row">
                              <p class="center-align"><em>Created by: {{ cook.created_by }}</em></p>
                          </div>
                          <!--edit button in session user/admin account-->
                          <div class="row">
                           
                            {% if session.user|lower == cook.created_by|lower %}
                               <a href="{{ url_for('edit_recipe', cook_id=cook._id) }}" class="btn-large brown center-align">Edit</a>
                              
                            {% endif %}
                          </div>
                        
                         </div> 
                       </div>
                     </div>
         {% endfor %}
         
        </div>
       
 {% endblock %}
           

         
          
                          
                           
                         
                         
   
                          
                
                
                         
                  
                              
                           
                             
                            
                               
               
                   
            
                            
                            
                          
                          
                  
         
           
              
                
           
        
        
             
                 
                  
               
          
            
        
                    
                 
                     
                      


