{% extends "base.html" %}
{% block content %}
<div class="row account-head">
    <div class="col s12 m8 offset-m2">
        <h4><span class="card-title brown-text center-align"><strong>Edit Recipes</strong></span></h4>
  </div>
</div>
<div class="row card-panel card-panel-form">
    <form class="col s12 new-form" method="POST"  action="{{ url_for('edit_recipe', cook_id=cook._id) }}">
        <!---image-->
        <div class="row col s12 offset-m2 m8 offset-l3 l6">
            <div class="input-field ">
                <i class="far fa-images brown-text text-darken-4 prefix"></i>
                <input id="img_url" name="img_url" type="url" class="validate" value="{{ cook.image_url }}" required>
                <label for="img_url">Image URL</label>
                </div>
            </div>
            <div class="row col s12 offset-m2 m8 offset-l3 l6">
                <div class="input-field">
                    <i class="fas fa-exchange-alt brown-text text-darken-4 prefix"></i>S
                    <input id="category_name" name="category_name" type="text"
                        class="validate" value="{{ cook.category_name }}" required>
                    <label for="category_name">Category_name</label>
                    </div>
                </div>
        <div class="row col s12 offset-m2 m8 offset-l3 l6">
            <div class="input-field">
                <i class="fas fa-book brown-text text-darken-4 prefix"></i>
                <input id="recipe_title" name="recipe_title"  type="text"
                    class="validate" value="{{ cook.recipe_title }}" required>
                <label for="recipe_title">Recipe_title</label>
                </div>
            </div>

            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i class="fas fa-egg brown-text text-darken-4 prefix"></i>
                   <textarea id="ingredients" name="ingredients" 
                          maxlength="500" class="materialize-textarea" required>
                          {{- cook.ingredients -}}
                        </textarea>
                   <label for="ingredients">Ingredients</label>
                   <p class="small-text"><small>Use comma between ingredients!</small></p>
                </div>
            </div>
            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i class="far fa-clock brown-text text-darken-4 prefix"></i>
                   <textarea id="cooking_time" name="cooking_time" 
                          class="materialize-textarea"  value="{{ cook.cooking_time }}" required></textarea>
                   <label for="cooking_time">Cooking Time</label>
                </div>
            </div>
            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i  class="fas fa-bone brown-text text-darken-4 prefix"></i>
                   <textarea id="tools" name="tools" 
                          class="materialize-textarea" value="{{ cook.tools }}"required></textarea>
                   <label for="tools">Tools</label>
                   <p class="small-text"><small>Use comma between ingredients!</small></p>
                </div>
            </div>
            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i  class="fas fa-pencil-alt brown-text text-darken-4 prefix"></i>
                   <textarea id="description" name="description" 
                    minlenght="5" class="materialize-textarea" value="{{ cook.decription }}"required></textarea>
                   <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                  <!--cancell button-->
                  <a href="{{ url_for('delete_recipe',cook_id=cook._id) }}" class="btn-large green accent-4">Delete <i class="fas fa-trash-alt"></i></a>
                  <a href="{{ url_for('get_cooking') }}" class="href btn-large red text-shadow">
                      Back <i class="fas fa-times-circle right"></i></a>
                  <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                      Edit Recipe <i class="fas fa-edit right"></i>
                  </button>
                </div>
            </div>
          </form>
{% endblock %}