{% extends "base.html" %}
{% block content %}
<div class="row account-head">
    <div class="col s12 m6 center-align offset-m3">
        <h4><span class="card-title brown-text center-align"><strong>Edit Recipes</strong></span></h4>
  </div>
</div>
<div class="row card-panel card-panel-form">
    <form class="col s12 new-form" method="POST"  action="{{ url_for('edit_recipe', cook_id=cook._id) }}">
        <!---image-->
        <div class="row col s12 offset-m2 m8 offset-l3 l6">
            <div class="input-field ">
                <i class="far fa-images brown-text text-darken-4 prefix"></i>
                <input id="img_url" name="img_url" type="url" class="validate" value="{{ cook.img_url }}" required>
                <label for="img_url">Image URL</label>
                </div>
            </div>
            <div class="row col s12 offset-m2 m8 offset-l3 l6">
                <div class="input-field">
                    <i class="fas fa-exchange-alt brown-text text-darken-4 prefix"></i>
                    <input id="category_name" name="category_name" type="text"
                        class="validate" value="{{ cook.category_name }}" required>
                    <label for="category_name">Category_name</label>
                    </div>
                </div>
        <div class="row col s12 offset-m2 m8 offset-l3 l6">
            <div class="input-field">
                <i class="fas fa-book brown-text text-darken-4 prefix"></i>
                <input id="recipe_title" name="recipe_title"  type="text"
                    class="validate" maxlength="18" value="{{ cook.recipe_title }}" required>
                <label for="recipe_title">Recipe_title</label>
                </div>
            </div>

            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i class="fas fa-egg brown-text text-darken-4 prefix"></i>
                   <textarea id="ingredients" name="ingredients" 
                          maxlength="500" class="materialize-textarea" required>
                          {% for ingredient in cook.ingredients %}
                          {{- ingredient ~ "," -}} 
                            {% endfor %}
                        </textarea>
                   <label for="ingredients">Ingredients</label>
                   <p class="small-text"><small>Use comma between ingredients!</small></p>
                </div>
            </div>
            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i class="far fa-clock brown-text text-darken-4 prefix"></i>
                   <input id="cooking_time" name="cooking_time"  type="text"
                   class="validate" value="{{ cook.cooking_time }}" required>
                   <label for="cooking_time">Cooking Time</label>
                </div>
            </div>
            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i  class="fas fa-bone brown-text text-darken-4 prefix"></i>
                   <textarea id="tools" name="tools"  
                    maxlength="500" class="materialize-textarea" required>
                  {% for tool in cook.tools %}
                  {{- tool ~ "," -}}, 
                  {% endfor %} 
                   </textarea>
                   <label for="tools">Tools</label>
                   <p class="small-text"><small>Use comma between ingredients!</small></p>
                </div>
            </div>
            <div class="row row col s12 offset-m2 m8 offset-l3 l6 ">
                <div class="input-field">
                   <i  class="fas fa-pencil-alt brown-text text-darken-4 prefix"></i>
                   <textarea id="description" name="description" 
                    minlenght="5" class="materialize-textarea" value="{{ cook.decription }}"required>
                    {{- cook.description -}}
                </textarea>
                   <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                
                    <!--delete button with modal-->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                          <h5>Do you really want to delete this recipe? </h5>
                          <p>This process cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <a onclick="deleteRecipe()" class=" btn  waves-effect waves-green btn-large green accent-4">Delete <i class="fas fa-trash-alt"></i></a>

                        <input class="recepy-id" type="hidden" value="{{cook._id}}" />
                        <a href="#!" class="modal-close waves-effect btn-large red text-shadow">Back <i class="fas fa-times-circle right"></i></a>
                        </div>
                        
                            
                          
                      
                     </div>
                      <a  href="modal1" data-target="modal1" 
                      class="modal-close btn modal-trigger waves-effect waves-green btn-large green accent-4">Delete <i class="fas fa-trash-alt"></i></a>
                 
                    <!--back button-->
                  <a href="{{ url_for('get_cooking') }}" class="href btn-large red text-shadow">
                      Back <i class="fas fa-times-circle right"></i></a>
                      <!--update button-->
                  <button onclick="updateRecipe()" type="submit" class="btn-large light-blue darken-1 text-shadow">
                      Update Recipe <i class="fas fa-edit right"></i>
                      <input class="recepy-id" type="hidden" value="{{cook._id}}" />
                  </button>

                </div>
            </div>
          </form>
{% endblock %}